modules = ["nodejs-20", "bash", "web", "postgresql-16"]
run = "npm run dev"
hidden = [".config", ".git", "generated-icon.png", "node_modules", "dist"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "autoscale"
run = ["npm", "run", "start"]
build = ["npm", "run", "build"]

[[ports]]
localPort = 5173
externalPort = 80

[env]
VITE_SUPABASE_URL = "$VITE_SUPABASE_URL"
VITE_SUPABASE_KEY = "$VITE_SUPABASE_KEY"

[workflows]
runButton = "Dev Server"

[[workflows.workflow]]
name = "Dev Server"
mode = "sequential"
author = 40650756

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
